<nav class="app-navbar" aria-label="Navigasi utama">
    <a class="home-solid" href="beranda.html" data-page="beranda">
        <span class="material-symbols-outlined icon-nav" aria-hidden="true">home</span>
        <span class="text-wrapper-8">Beranda</span>
    </a>
    <a class="home-solid-2" href="peringkat.html" data-page="peringkat">
        <span class="material-symbols-outlined icon-nav" aria-hidden="true">bar_chart</span>
        <span class="text-wrapper-9">Peringkat</span>
    </a>
    <a class="home-solid-3" href="skulworld.html" data-page="skulworld">
        <span class="material-symbols-outlined icon-nav" aria-hidden="true">public</span>
        <span class="text-wrapper-9">SkulWorld</span>
    </a>
    <a class="home-solid-4" href="insight.html" data-page="insight">
        <span class="material-symbols-outlined icon-nav" aria-hidden="true">lightbulb</span>
        <span class="text-wrapper-9">Insight</span>
    </a>
    <a class="home-solid-5" href="profile.html" data-page="profile">
        <span class="material-symbols-outlined icon-nav" aria-hidden="true">person</span>
        <span class="text-wrapper-9">Profile</span>
    </a>
</nav>